{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}



{% block content %}
<h1>Products{% if category %} - {{ category.get_friendly_name }}{% endif %}</h1>
<ul>
    {% for product in products %}
        <li>
            <a href="{% url 'product_detail' product.id %}">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                {{ product.name }} - ${{ product.price }}
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
